<div class="container">
  <%= link_to "Pdfs", pdfs_path %> | 
  <%= link_to "Reset Pdfs", reset_pdfs_path %> | 
  <%= link_to "Import Pdfs", import_pdfs_path %> | 
  <%= link_to "Add pdf", new_pdf_path %>
 </div>